@model IEnumerable<StatistikkApp.Models.StatistikkData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" method="get" class="row g-3 mb-4">
    <div class="col-md-4">
        <label class="form-label">Kommune</label>
        <select name="kommuneId" class="form-select" asp-items="ViewBag.KommuneId">
            <option value="">Alle kommuner</option>
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Kategori</label>
        <select name="kategoriId" class="form-select" asp-items="ViewBag.KategoriId">
            <option value="">Alle kategorier</option>
        </select>
    </div>

    <div class="col-md-4 d-flex align-items-end">
        <button type="submit" class="btn btn-primary me-2">Filtrer</button>
        <a asp-action="Index" class="btn btn-secondary">Nullstill</a>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kommune)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatistikkKategori)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kommune.Navn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatistikkKategori.Navn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
